# 주피터 노트북 기본

## 셀 추가/삭제
- 코드버튼 클릭 - Python 코드 셀 추가
- Markdown버튼 클릭 = 마크다운 셀 추가

### 단축키
- Ctrl + Enter 셀 실행 
- Shift + Enter 셀 실행 아래 같은 셀 추가
- Enter 현재 셀 진입
- ESC 현재 셀 빠져나가기
- b 현재 셀 아래 세 셀 추가
- a 현재 셀 위 세 셀 추가
- m 현재 셀(python) -> 마크다운 셀 변경
- y 현재 셀(Markdown) -> 파이선 셀 변경
- Shift + L 셀 라인번호 표시 토글

In [1]:
print('여기는 파이썬 셀')

여기는 파이썬 셀

## 일반출력
```python
print('Hello, python!') # 마크다운 코드추가
```

In [2]:
print('Hi~')

Hi~

### 이미지 추가

> **인용** 좀 하세요~ 제발

<img src="https://dojang.io/pluginfile.php/14085/mod_page/content/7/046011_.png" width="400">

<img src="https://raw.githubusercontent.com/hugoMGSung/pknu_aspnet_2023/main/images/restapi02.gif" width="400">


---

|제목|내용|비고|
|:-----|----------:|:----:|
|제목1|내용1|비고1|
|제목2|내용2|비고2|
|제목3|내용3|비고3|
|제목4|내용입니다4|비고4|
|제목입니다.|내용4|비고4예용|

### 주피터 노트북 디버깅

- 브레이크 포인트(중단점 클릭)
- Ctrl + Shift + Alt + Enter
    - py 디버깅과 동일(F10, F11) 사용

In [3]:
# 나누기 함수
def divide(x, y):
    result = ''
    try:
        result = x // y
    except Exception as e:
        print(f'예외발생 : {e}')
    
    print('나누기 완료')
    return result

In [4]:
print(divide(7, 0))

예외발생 : integer division or modulo by zero
나누기 완료

### 출력 python과 차이점

변수 출력할때 
- 변수명만 입력 후 실행 결과출력
- print() 도 출력
    - 단, 변수만 쓸때는 제일마지막 변수만 출력
    - 여러번 출력하고 싶으면 print() 사용할 것
    - 하지만, 변수를 그냥출력할 때와 print() 출력때랑 결과 다름!

In [5]:
a = 'Hello Python!'
a

'Hello Python!'

In [6]:
print(a)
print(a)

Hello Python!
Hello Python!

#### 경로 문제 해결

.py에서의 파일 경로와 .ipynb 경로가 다름
- .py  : ./Day04/dummy_members.csv
- .ipynb : ./dummy_members.csv

In [7]:
import pandas as pd

df = pd.read_csv('./dummy_members.csv') # 주의점! 주피터노트북에서는 같은 폴더에 파일을 읽을때 
df

,Unnamed: 0,이름,우편번호,주소,전화번호,이메일
0,0,안정식,79498,충청북도 파주시 양재천길 (영호김면),051-415-9143,minjiyang@example.org
1,1,김성민,34675,강원도 수원시 권선구 테헤란가,019-474-2901,sangceol82@example.com
2,2,유아름,99541,전라남도 안산시 역삼로 (영길장김면),02-9414-3830,iyeongjin@example.org
3,3,박광수,62880,경기도 제천시 잠실로,011-505-0906,eunseogim@example.org
4,4,이지훈,61498,대전광역시 마포구 선릉0길 (하은이동),061-504-0120,ganggyeongja@example.org
5,5,김영식,26333,인천광역시 강동구 반포대53길,033-604-1578,coesiu@example.net
6,6,이경자,51134,전라북도 광명시 테헤란717거리 (광수이읍),031-152-4946,gojeongsug@example.com
7,7,김준호,24038,전라남도 예산군 선릉로,054-797-5796,subingim@example.org
8,8,조서현,83764,강원도 청주시 서원구 논현가,041-476-0500,seohyeon73@example.net
9,9,최정희,42789,강원도 양평군 서초대로,042-348-9853,hanareum@example.net

In [8]:
import os

os.getcwd()

'c:\\Source\\bigdata-python-2023\\Day04'

#### 출력초과 문제

콘솔이나 주피터 셀출력 전체가 다 안나오는 현상(성능적 문제때문에 제약) 

```python
pd.options.display.max_columns = None
pd.options.display.max_rows = None
```

In [14]:
pd.options.display.max_columns = 10
pd.options.display.max_rows = 100
data = pd.read_csv('./dummy_members2.csv', encoding='utf-8')

data

,Unnamed: 0,이름,우편번호,주소,전화번호,이메일
0,0,이지은,81342,울산광역시 강남구 반포대가 (은지김성동),041-148-2973,eunjui@example.com
1,1,김지영,29025,광주광역시 북구 오금876거리 (준영김면),051-740-0381,gangsiu@example.com
2,2,김민지,58205,충청북도 부여군 삼성거리 (준호이임읍),063-840-2915,donghyeon55@example.net
3,3,김진우,52393,제주특별자치도 평창군 역삼길,010-8439-0774,yeongjajo@example.org
4,4,이예진,82422,광주광역시 양천구 논현072로 (정숙김마을),054-044-6824,yeongmigim@example.com
...,...,...,...,...,...,...
9995,9995,김주원,48953,세종특별자치시 성동구 언주가,041-152-8010,ogim@example.com
9996,9996,신우진,99234,부산광역시 중랑구 압구정7가,042-214-8938,yunseo28@example.org
9997,9997,이서윤,82941,강원도 양양군 삼성로 (시우김송면),018-316-5631,seunghyeonsong@example.org
9998,9998,김지혜,14762,세종특별자치시 북구 오금거리 (정숙안유리),042-532-6638,tbag@example.com
9999,9999,권민지,89236,대구광역시 용산구 봉은사833거리,062-503-2515,seongmin27@example.org